@import "../../scss/base/mixins";

.users {
    @include page-layout;

    &__users-list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 40px;

        @include media-query-tablet-and-down {
            grid-template-columns: 1fr 1fr;
        }
        @include media-query-phone {
            grid-template-columns: 1fr;
        }
    }
}
